@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: rgba(255, 255, 255, 1);
    --foreground: rgba(2, 7, 19, 1);

    --card: rgba(255, 255, 255, 1);;
    --card-foreground: rgba(2, 7, 19, 1);

    --popover: rgba(255, 255, 255, 1);
    --popover-foreground: rgba(2, 7, 19, 1);

    --primary: rgba(26,35,46,1);
    --primary-foreground: rgba(248, 250, 252, 1);

    --secondary: rgba(241, 245, 249, 1);
    --secondary-foreground: rgba(15, 23, 41, 1);

    --muted: rgba(241, 245, 249, 1);
    --muted-foreground: rgba(125, 140, 161, 1);;

    --accent: rgba(241, 245, 249, 1);
    --accent-foreground: rgba(15, 23, 41, 1);

    --destructive: rgba(239, 67, 67, 1);
    --destructive-foreground: rgba(248, 250, 252, 1);

    --border: rgba(225, 231, 239, 1);;
    --input: rgba(225, 231, 239, 1);;
    --ring: rgba(2, 7, 19, 1);

    --radius: 0.5rem;
  }

  .dark {
    --background: rgba(2, 7, 19, 1);
    --foreground: rgba(248, 250, 252, 1);

    --card: rgba(2, 7, 19, 1);
    --card-foreground: rgba(248, 250, 252, 1);

    --popover: rgba(2, 7, 19, 1);
    --popover-foreground: rgba(248, 250, 252, 1);

    --primary: rgba(248, 250, 252, 1);
    --primary-foreground: rgba(15, 23, 41, 1);;

    --secondary: rgba(29, 40, 57, 1);;
    --secondary-foreground: rgba(248, 250, 252, 1);

    --muted: rgba(29, 40, 57, 1);;
    --muted-foreground: rgba(148, 163, 184, 1);

    --accent: rgba(29, 40, 57, 1);;
    --accent-foreground: rgba(248, 250, 252, 1);

    --destructive: rgba(124, 29, 29, 1);
    --destructive-foreground: rgba(248, 250, 252, 1);

    --border: rgba(29, 40, 57, 1);
    --input: rgba(29, 40, 57, 1);
    --ring: rgba(200, 211, 223, 1);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}